body {
    margin: 0;
}

#header {
    height: 3em;
    background-color: darkgrey;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#companyName {
    text-align: center;
    background: none;
    width: 60%;
    font-size: 1.2em;
    margin-left: 20%;
    display: inline-block;
    color: white;
}

#optionsButton {
    height: 3em;
    float: right;
    text-align: center;
    font-size: 2.1em;
    margin-top: -1.1em;
    padding-left: .5em;
    border: none;
    color: white;
    background: none;
}

.optionsList {
    background: rgba(0, 0, 0, .75);
    position: fixed;
    width: 100%;
    left: 0px;
    top: -200em;
    z-index: 1;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    -webkit-transition: top .3s linear;
	-moz-transition: top .3s linear;
	-o-transition: top .3s linear;
	transition: top .3s linear;
}

.optionsList-change {
    top: 3em;
}

.linkContainer {
    text-align: center;
    border-top: 1px solid lightslategrey;
    border-bottom: 1px solid lightslategrey;
    width: 50%;
    float: left;
    padding-top: .4em;
    padding-bottom: .4em;    
}

#optionsList div a {
    text-align: center;
    font-size: 4vmax;
    color: white;
}