* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    background-color: rgb(191, 75, 0);
}

.mug {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    -webkit-transition: margin-left .8s ease-in;
	-moz-transition: margin-left .8s ease-in;
	-o-transition: margin-left .8s ease-in;
	transition: margin-left .8s ease-in;
}

.mug-change {
    margin-left: 100%;
}

.innerList {
    list-style-type: none;
}

#titleTop {
    text-align: center;
    margin-top: 2.5em;
    padding-bottom: 1.2em;
}

.taskTitle {
    text-decoration: underline;
}

.summary {
    text-decoration: none;
}

.notes {
    font-style: italic;
}

.inlineNotes {
    list-style-type: none;
    margin-left: 2em;
    font-style: italic;
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

#extraNotes {
    margin-left: 2em;
}

.task {
    margin-left: 2em;
}

.taskContainer {
    margin-top: -1.2em;
    margin-bottom: -1.2em;
    padding-top: 3em;
    padding-bottom: 3em;
}